<<<<<<< HEAD
#table{
width: 100%;
}
 table td, table th{

    border:1px solid black
 }
=======
#table{
width: 100%;
}
 table td, table th{

    border:1px solid black
 }
>>>>>>> 492178065c2bcd80066d4ea8a7d07beece7e2ecf
