button{
    width: 6rem;
    height: 3rem;
    border-radius: 50px;
    font-family: $font-principale;
    background-color: coral;
    margin-right: 1em;
    &:hover{
        transform: scale(1.2);
    }
}