* {
    box-sizing: border-box;
}

@font-face {
    font-family: one-piece-font;
    src: url(../fonts/one-piece-font.woff) format(woff);
}

/*css body */
body {
    margin: 0;
    background-image: url(../img/Zoro\ Blue\ -\ Redeye.jpg);
    background-size: cover;
    text-align: center;
    font-family: one-piece-font;
}
p {
    font-size: 2em;
    font-size: bold;
}
/* css contenitore dei tasti */
.keys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

/* css corpo della calcolatrice */
.contenitore {
    display: grid;
    background-image: url(../img/zoro-one-piece.gif);
    background-size: cover;
    background-position: 50%;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
    padding: 1rem;
    border-radius: 5%;
}

/* css bottoni */
.bottoni {
    background-color: #ff5d6c;
    border: 1px black solid;
    width: 2.5em;
    height: 2em;
    margin: 0.5em;
    padding: 0.5rem;
    border-radius: 5%;
    font-weight: bold;
    font-size: 1.4em;
}

/* css display */
input {
    width: 100%;
    display: block;
    height: 4em;
    background-color: #41555e;
    color: #cddddd;
    text-align: right;
    border-radius: 5%;
    border: 2px black solid;
    font-size: 1.4em;
    padding: 0.3em;
    border: 0;
    opacity: 0.9;
    font-family: one-piece-font;

}

/* css tasto uguale*/
#uguale {
    padding-top: 80%;
    background-color: #ff3430;
    border: 1px black solid;
    border-radius: 5%;
    grid-column: -2;
    grid-row: 3/span 4;
    width: 2.5em;
    font-family: one-piece-font;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}