@import 'variables';

header {
    background-color: $viola;
}
#all{
    position: absolute;
}
#section1 {
    background-image: url(../img/pexels-aleksandar-pasaric-325185.jpg);
    background-size: cover;
    background-position-y: 20%;
    height: 50vh;
    button {
        background: $viola;
        color: $bianco;
        border-radius: 5px;
    }
}
#section3{
    img{
        width: 30%;
    }
}
.imgs{
    border-radius: 50%;
}
footer{
    background-color: $viola;
    color: $bianco;
}